*.exe
*.exe~
*.dll
*.so
*.dylib
*.a
/bin/
/out/
/dist/

__debug_bin*
debug.test

*.test
*.out
*.prof
*.coverprofile
/coverage/
/coverage.html

/.tmp/
/tmp/

.env
.env.*
!.env.example

/.prodmap/*.db
/.prodmap/*.db-*
/.prodmap/*.sqlite
/.prodmap/*.sqlite-*
/.prodmap/logs/


/go.work
/go.work.sum

/.vscode/*
!/.vscode/extensions.json
/.idea/

*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*~
*.bak

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini

/logs/
*.tmp
